body{
	font-size: 150%;
	background-color: rgb(255, 252, 242); /*Floral Colour*/	
	}
.navbar{
	font-family: 'Shadows Into Light Two', cursive;
	display: block;		
	text-align: center;
	margin-top: 1%;
	/*background: url("https://images.creativemarket.com/0.1.0/ps/1570278/2417/1608/m1/fpnw/wm1/preview-01-.jpg?1471583801&s=5d51c2a276fa9b425b13bd7fba07f894") 10px;*/
}
.navbar a{
	background-color: rgb(255,166,43);
	color: rgb(255, 255, 255);
	padding: 5px;
	border: 1px solid black;
	text-decoration: none; 
}

table{
	border: 1.5px dashed;
	text-align: center;
	
}

table th{
	border: 1.5px dashed;
	padding: 2px 2px 2px 2px;
}

table td{
	border: 1.5px dashed;
	padding: 2px 2px 2px 2px;
}